KERNEL=="media*", SUBSYSTEM=="media", MODE="0666"
KERNEL=="usb*", SUBSYSTEM=="usb", MODE="0666"
SUBSYSTEM=="usb", ATTR{idVendor}=="05ca", ATTR{idProduct}=="2715", OWNER="robot", GROUP="plugdev", MODE="0666"
